/* Reset default styles and set font-family */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Body styles for background and centering */
body {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  
}

/* Header styles for logo and navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Image */

img {
  width: 700px;
  height: 500px;
  position: relative;
  bottom: 150px;
  right: 35%;
}

/* Global link styles */
.nav-links {
  text-decoration: none;
  font-size: 20px;
  color: orangered;
  transition: transform 0.3s ease;
  margin-left: 50px;
}

/* Hover effect for navigation links */
.nav-links:hover {
  
  color: black;
  cursor: pointer;
}

/* Container styles for main content */
.container {
  width: 1000px;
  height: 500px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* Logo styles */
.logo {
  text-decoration: none;
  color: rgb(16, 151, 155);
  font-size: 34px;
  font-weight: 700;
}

/* Left-side content styles */
.left-side {
  width: 500px;
  display: flex;
}

.left-side a {
  width: max-content;
  padding: 10px;
  text-decoration: none;
  background: rgb(62, 161, 161);
  border-radius: 5px;
  color: #fff;
}

/* Text content styles */
.text {
  color: #f76b1c;
  line-height: 40px;
}

.text h1{
  font-size: 30px;
  font-weight: 500;
}

.text p {
  font-size: 20px;
}

/* Wrapper and right-side content styles */
.wrapper {
  width: 100%;
  height: 300px;
  position: relative;
  top: 25%;
  display: flex;
  flex-direction: row;
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Button styles */
.btn {
  width: max-content;
  background-color: #00cbe9;
  background-image: linear-gradient(160deg, #00cbe9 0%, #80d0c7 100%);

  text-decoration: none;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fff;
  outline: 2px solid #f76b1c 84%;
  transition: 0.5s;
}

/* Hover effect for buttons */
.btn:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

/* Social icons styles */
.socials a {
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 20px;
  background: #f76b1c 84%;
  border: 1px solid #fff;
  outline: 2px solid #f76b1c 84%;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-right: 22px;
  line-height: 35px;
  transition: 0.5s;
}

/* Hover effect for social icons */
.socials a:hover {
  transform: translateY(-5px);
}

/* animations */
.animate__animated.animate__fadeInLeft{
  --animate-duration: 2s;
}

.animate__animated.animate__zoomIn{
  --animate-duration: 3s;
}

.animate__animated.animate__bounceInUp{
  --animate-duration: 2.5s;
}
